<html>
   <head>
	 <script
          src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
          crossorigin="anonymous"></script>
   </head>
    
   	<br> 
   	<button id="listall"> List All </button>
   	<button id="listopen"> List Open Times </button>
   	<button id="listclose"> List Close Times </button>
   	<br>
   	<br>
	
	<label> Representaion </label>
	<select name="dtype" id="dtype">
		<option value="JSON"> JSON </option>
		<option value="CSV"> CSV </option> </select>

	<br> <br>

   	<label for="top"> Top Number of Amounts: </label>
   	<input type="number" id="top" name="top"> <br>
   

   <script>
	   var SCRIPT_ROOT = {{ request.script_root|tojson|safe }} ;

	   $('#listall').click(
	        function(e){
		     //e.preventDefault();
		     console.log("list all clicked");
		     var topk = $("input[name='top']").val();
                     console.log(topk);
                     var dtype = document.getElementById('dtype').value;
                     console.log(dtype);
                     //var url = window.location.href;
                     //console.log(url);
                     $.getJSON( (SCRIPT_ROOT + "/listeverything"), {dtype: dtype, topk: topk}).done(

                        function(data) {
                                console.log(data)
                                document.write(data.result)
                });

		     // go get the information from the database
		    // print the  data from the database
		}
	   ); $('#listopen').click(
                function(e){
                     //e.preventDefault();
                     console.log("list open clicked");
                     var topk = $("input[name='top']").val();
                     console.log(topk);
                     var dtype = document.getElementById('dtype').value;
                     console.log(dtype);
                     //var url = window.location.href;
                     //console.log(url);
                     $.getJSON( (SCRIPT_ROOT + "/listopentimes"), {dtype: dtype, topk: topk}).done(

                        function(data) {
                                console.log(data)
                                document.write(data.result)
                });

                     // go get the information from the database
                    // print the  data from the database
                }
           ); $('#listclose').click(
                function(e){
                     //e.preventDefault();
                     console.log("list close clicked");
		     var topk = $("input[name='top']").val();
		     console.log(topk);
		     var dtype = document.getElementById('dtype').value;
		     console.log(dtype);
		     //var url = window.location.href;
		     //console.log(url);
		     $.getJSON( (SCRIPT_ROOT + "/listclosetimes"), { dtype: dtype, topk: topk}).done(
			     
			function(data) {
				console.log(data)
				document.write(data.result)
		});

                     // go get the information from the database
                    // print the  data from the database
                }
           );


   </script>

</html>
